:root {
  --white: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  background-color: #414141;
  background-image: url('../assets//castle-sm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1000px;
  width: 90%;
  margin: 2rem auto;
}

a {
  color: var(--white);
}

a:visited {
  color: var(--white);
}

img {
  display: block;
}

/* Logos */
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 130px;
}

.castle-logo {
  width: 120px;
  animation: fadeIn 500ms ease-out;
}

.lounge-logo {
  width: 130px;
  animation: fadeIn 500ms ease-out 100ms;
}

/* Body */
.main-content {
  margin: 4rem 0;
  text-align: center;
}

.main-content > * {
  margin: auto;
}

.title {
  font-family: 'Josefin Sans', 'Montserrat', sans-serif;
  opacity: 0;
  animation: fadeIn 500ms ease-out 200ms;
}

.divider {
  max-width: 300px;
  animation: fadeIn 500ms ease-out 300ms;
}

.intro-text {
  line-height: 1.7;
  max-width: 600px;
  animation: fadeIn 500ms ease-out 400ms;
}

/* Social Media Icons */
.social-media {
  display: flex;
  justify-content: center;
  animation: fadeIn 500ms ease-out 500ms;
}

.social-media a {
  font-size: 1.75rem;
  margin-right: 2rem;
}

.social-media a:last-of-type {
  margin-right: 0;
}

/* Animation */
.castle-logo,
.lounge-logo,
.title,
.divider,
.intro-text,
.social-media {
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (min-width: 700px) {
  body {
    background-image: url('../assets//castle-lg.jpg');
  }

  .social-media a {
    margin-right: 3rem;
  }
}

@media (min-width: 900px) {
  body {
    margin: 4rem auto;
    max-width: none;
    width: 95%;
  }

  .logo-container {
    max-width: 195px;
  }

  .castle-logo {
    width: 180px;
  }

  .lounge-logo {
    width: 195px;
  }

  .title {
    font-size: 3rem;
  }

  .divider {
    max-width: 450px;
  }

  .intro-text {
    font-size: 1.25rem;
    max-width: 800px;
  }

  .social-media a {
    margin-right: 3rem;
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {
  .logo-container {
    max-width: 260px;
  }

  .castle-logo {
    width: 240px;
  }

  .lounge-logo {
    width: 260px;
  }
}
